{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-left text-uppercase title-under">Hello there</h2>
    <p>Tis page is currently under construction and will be evolving shortly! Book mark us and come back soon!</p>
{% endblock %}